{% extends "home/topbar.html" %}
{% load bootstrap3 %}
{% load humanize %}
{% load static %}

{% block content %}

<h1>EVE-GasBuddy</h1>

<p>EVE-GasBuddy is an EVE Online gas calculator, focused on helping you decide which cloud site and which cloud to mine first.</p>
<p>The Gas page focuses on the essentials - the ISK per minute you can expect to receive from mining each gas.  The prices are based on the current buy price in The Forge, updated hourly.  This is most useful for experienced ninja miners who just want to have an up to date accounting of current prices.</p>
<p>The Sites page gives an expanded view of gas sites, focusing more on organized mining operations.  You can identify which cloud to attack first, and about how long it will take your group to clear a site.  Check the "extra data" box to get additional information on the time to clear a site</p>
<p>The Site Analyzer takes a probe scanner copy and paste and looks for gas sites - then it takes the sites and provides a readout of the anticipated returns of 15-minute ninja sessions.  Actual results may vary as the Sleepers do not spawn at exactly 15 minutes every time, and your returns may be modified by travel time.  Currently only ninja mining is looked at, this will be expanded to include site clearing at a later date.</p>
<p>For questions, comments, feature requests, or feedback please send a mail to Gas Buddy in game.</p>

{% endblock content %}
