{% extends "home/topbar.html" %}
{% load bootstrap3 %}
{% load humanize %}
{% load static %}

{% block content %}

<h1>EvE-GasBuddy</h1>

<p>EvE-GasBuddy is an Eve Online gas calculator, focused on helping you decide which cloud site and which cloud to mine first.</p>
<p>The Gas page focuses on the essentials - the ISK per minute you can expect to receive from mining each gas.  The prices are based on the current buy price in The Forge, updated hourly.  This is most useful for experienced ninja miners who just want to have an up to date accounting of current prices.</p>
<p>The Sites page gives an expanded view of gas sites, focusing more on organized mining operations.  You can identify which cloud to attack first, and about how long it will take your group to clear a site.</p>

{% endblock content %}
