{% extends "home/topbar.html" %}
{% load bootstrap3 %}
{% load humanize %}
{% load static %}

{% block content %}

<script type="text/javascript" src="{% static 'home/sorttable.js' %}"></script>


<form class="form-inline" action="{% url 'home:home' %}" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button name="submit" class="btn btn-primary">Recalculate</button>
  {% endbuttons %}
</form>

<p></p>

<table id="gasTable" class="table table-hover table-striped sortable text-center">
    <thead>
    <tr>
      <th class="text-center">Gas</th>
      <th class="text-center">ISK per Minute</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in isk_min.items %}
    <tr>
      <td>{{key}}</td>
      <td>Ƶ {{value|floatformat:2|intcomma}}</td>
    </tr>
    {% empty %}
    <tr>
      <td>Something went wrong</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
