{% extends "home/topbar.html" %}
{% load bootstrap3 %}
{% load humanize %}
{% load static %}

{% block content %}

<script type="text/javascript" src="{% static "home/sorttable.js" %}"></script>

<form class="form-inline" action="{% url 'home:sites' %}" method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="container-fluid text-center">
    <div class="fieldWrapper form-group">
      {{ form.num.errors }}
      <label for="{{ form.subject.id_for_label }}">Number of Ships:</label>
      {{ form.num }}
    </div>
    <div class="fieldWrapper form-group">
      {{ form.ship.errors }}
      <label class="sr-only" for="{{ form.subject.id_for_label }}">Ship:</label>
      {{ form.ship }}
    </div>
    <div class="fieldWrapper form-group">
      {{ form.harvester.errors }}
      <label class="sr-only" for="{{ form.subject.id_for_label }}">Harvester:</label>
      {{ form.harvester }}
    </div>
    <div class="fieldWrapper form-group">
      {{ form.skill.errors }}
      <label for="{{ form.subject.id_for_label }}">Mining Frigate:</label>
      {{ form.skill }}
    </div>

      {% buttons %}
      <button name="submit" class="btn btn-primary">Recalculate</button>
      {% endbuttons %}

  </div>
</form>

<p></p>

<table id="siteTable" class="table table-hover table-striped text-center sortable">
  <thead>
    <tr>
      <th class="text-center">Site</th>
      <th class="text-center">ISK Present</th>
      <th class="text-center">Best Cloud</th>
      <th class="text-center">Best Cloud ISK per Minute</th>
      <th class="text-center">Secondary Cloud</th>
      <th class="text-center">Secondary Cloud ISK per Minute</th>
      <th class="text-center">Site ISK per Minute</th>
      <th class="text-center">Time to Clear (Minutes)</th>
    </tr>
  </thead>
  <tbody>
    {% for key, list in sites_calc.items %}
    <tr>
      <td>{{key}}</td>
      <td>{{list.0|floatformat:2|intcomma}}</td>
      <td>{{list.1.name}}</td>
      <td>{{list.2|floatformat:2|intcomma}}</td>
      <td>{{list.3.name}}</td>
      <td>{{list.4|floatformat:2|intcomma}}</td>
      <td>{{list.5|floatformat:2|intcomma}}</td>
      <td>{{list.6|floatformat:2|intcomma}}</td>
    </tr>
    {% empty %}
    <tr>
      <td>Something Went Wrong</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h6 class="text-center"><small>Prices last updated {{ updated }}</small></h6>

{% endblock content %}
